services:
  db:
    image: mariadb:10.11
    container_name: mariadb_db
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: '123456'
      MARIADB_DATABASE: 'school_local'
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  api:
    build: ./backend
    container_name: node_api
    restart: always
    ports:
      - "3001:3001"
    depends_on:
      - db
    environment:
      NODE_ENV: 'production'
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
      - ./backend/uploads:/usr/src/app/uploads
      - ./backend/.env:/usr/src/app/.env

  frontend:
    build:
      context: ./frontend
      args:
        - REACT_APP_API_URL=http://69.6.250.127:3001
    container_name: react_app
    restart: always
    ports:
      - "80:80"
    depends_on:
      - api

volumes:
  db_data: